<div class="w-full flex justify-center mt-28">
  <div class="text-center">
    <h1 class="text-5xl text-gray-50 font-bold mb-14 capitalize">Grow your business with <br> SakaAgency</h1>

    <app-contacto></app-contacto>

    <div class="flex justify-between text-gray-50 mt-14">

      <div class="border-l-2 border-r-2 border-gray-50 px-10">
        <h3 class="font-extrabold text-3xl">100+</h3>
        <span class="text-gray-200">Happy Customer</span>
      </div>

      <div class="border-l-2 border-r-2 border-gray-50 px-10 mx-3.5">
        <h3 class="font-extrabold text-3xl">100+</h3>
        <span class="text-gray-200">Project Completed</span>
      </div>



      <div class="border-l-2 border-r-2 border-gray-50 px-10">
        <h3 class="font-extrabold text-3xl">40+</h3>
        <span class="text-gray-200">Awards Won</span>
      </div>

    </div>
  </div>
</div>
