<div>

  <h2 class="mt-28 text-5xl text-gray-100 font-bold">
    About <br> SakaAgency
  </h2>

  <div class="grid grid-cols-2 gap-3 my-10">
    <div class="col-span-1">
      <div class="grid grid-cols-6">
        <div class="col-span-1">
          <!-- imagen -->
          <img src="/assets/img/about/flexible.png" alt="" srcset="">
        </div>
        <div class="col-span-5">
          <h3 class="text-gray-100 text-2xl font-semibold">Since 2010</h3>
          <p class="mt-3 text-gray-200 text-lg">
            Have a long road journey about digital agency, we have the best experience
            to help grow your business
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-1">
      <div class="grid grid-cols-6">
        <div class="col-span-1">
          <!-- imagen -->
          <img src="/assets/img/about/trainers.png" alt="" srcset="">
        </div>
        <div class="col-span-5">
          <h3 class="text-gray-100 text-2xl font-semibold">Satisfying Guaranteed</h3>
          <p class="mt-3 text-gray-200 text-lg">
            Money-Back guaranteed if you are not like our work you can compplaint
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-3">
    <div class="col-span-1">
      <div class="grid grid-cols-6">
        <div class="col-span-1">
          <!-- imagen -->
          <img src="/assets/img/about/track.png" alt="" srcset="">
        </div>
        <div class="col-span-5">
          <h3 class="text-gray-100 text-2xl font-semibold">Around the world</h3>
          <p class="mt-3 text-gray-200 text-lg">
            We have the best team from around the world, so our
            customer is around the world
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-1">
      <div class="grid grid-cols-6">
        <div class="col-span-1">
          <!-- imagen -->
          <img src="/assets/img/about/new.png" alt="" srcset="">
        </div>
        <div class="col-span-5">
          <h3 class="text-gray-100 text-2xl font-semibold">Secure Payment</h3>
          <p class="mt-3 text-gray-200 text-lg">
            Don't worry about payment, our payment is 100%
            secure
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
