<header class="w-full">
  <nav class="flex justify-between py-6">
    <h1 class="text-2xl text-white font-semibold">SakaAgency</h1>

    <ul class="text-gray-200 flex">
        <li class="mr-5">
            <a class="text-base font-semibold hover:text-white" href="#">Home</a>
        </li>

        <li class="mr-5">
            <a class="text-base font-semibold hover:text-white" href="#">About</a>
        </li>

        <li class="mr-5">
            <a class="text-base font-semibold hover:text-white" href="#">Services</a>
        </li>

        <li class="mr-5">
            <a class="text-base font-semibold hover:text-white" href="#">Project</a>
        </li>

        <li class="mr-5">
            <a class="text-base font-semibold hover:text-white" href="#">Testimonial</a>
        </li>
    </ul>

    <app-contacto></app-contacto>
  </nav>
</header>
