<div class="w-full bg-no-repeat bg-cover py-44 px-2 bg-opacity-20 rounded-xl overflow-auto" style="background-image: url('./assets/img/hero.png');">
  <div class="grid grid-cols-12 gap-2">
   <div class="col-span-4"></div>
   <div class="col-span-8">
    <h2 class="text-6xl text-white font-bold">Digital Agency, <br> We Create Experiences.</h2>

    <p class="text-2xl text-gray-100 my-6">
      Let's create amazing website to help your showcase and make up your businnes!
    </p>

    <app-contacto></app-contacto>

   </div>
  </div>
</div>
