<div class="mt-28">
    <h2 class="text-gray-200 text-5xl text-center font-bold">
      Our Specialization can <br> help your problem
    </h2>

    <div class="grid grid-cols-3 mt-14 gap-8">
      <div class="bg-gray-800 rounded-md p-6">
        <img src="/assets/img/services/ic_round-branding-watermark.png" alt="">

        <h3 class="mt-12 text-white font-semibold text-2xl">Branding</h3>
        <p class="mt-7 mb-10 text-white text-base">
          Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
        </p>

        <a href="#" class="text-base text-blue-300 flex items-center">
          Read More
          <span class="iconify font-semibold ml-4" data-icon="akar-icons:arrow-right"></span>
        </a>
      </div>

      <!-- two -->
      <div class="bg-gray-800 rounded-md p-6">
        <img src="/assets/img/services/icomoon-free_mobile.png" alt="">

        <h3 class="mt-12 text-white font-semibold text-2xl">Mobile Apps</h3>
        <p class="mt-7 mb-10 text-white text-base">
          Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
        </p>

        <a href="#" class="text-base text-blue-300 flex items-center">
          Read More
          <span class="iconify font-semibold ml-4" data-icon="akar-icons:arrow-right"></span>
        </a>
      </div>

      <!-- three -->
      <div class="bg-gray-800 rounded-md p-6">
        <img src="/assets/img/services/clarity_shopping-cart-solid.png" alt="">

        <h3 class="mt-12 text-white font-semibold text-2xl">E-commerce</h3>
        <p class="mt-7 mb-10 text-white text-base">
          Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
        </p>

        <a href="#" class="text-base text-blue-300 flex items-center">
          Read More
          <!-- <img class="ml-3" src="/assets/img/services/arrow-back.png" alt=""> -->
          <span class="iconify font-semibold ml-4" data-icon="akar-icons:arrow-right"></span>
        </a>
      </div>

      <!-- four -->
      <div class="bg-gray-800 rounded-md p-6">
        <img src="/assets/img/services/healthicons_human-resoruces.png" alt="">

        <h3 class="mt-12 text-white font-semibold text-2xl">Human Resources</h3>
        <p class="mt-7 mb-10 text-white text-base">
          Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
        </p>

        <a href="#" class="text-base text-blue-300 flex items-center">
          Read More
          <span class="iconify font-semibold ml-4" data-icon="akar-icons:arrow-right"></span>
        </a>
      </div>

      <!-- five -->
      <div class="bg-gray-800 rounded-md p-6">
        <img src="/assets/img/services/fluent_learning-app-24-filled.png" alt="">

        <h3 class="mt-12 text-white font-semibold text-2xl">Learning Management</h3>
        <p class="mt-7 mb-10 text-white text-base">
          Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
        </p>

        <a href="#" class="text-base text-blue-300 flex items-center">
          Read More
          <span class="iconify font-semibold ml-4" data-icon="akar-icons:arrow-right"></span>
        </a>
      </div>

      <!-- six -->
      <div class="bg-gray-800 rounded-md p-6">
        <img src="/assets/img/services/ic_baseline-design-services.png" alt="">

        <h3 class="mt-12 text-white font-semibold text-2xl">UI/UX Desing</h3>
        <p class="mt-7 mb-10 text-white text-base">
          Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
        </p>

        <a href="#" class="text-base text-blue-300 flex items-center">
          Read More
          <span class="iconify font-semibold ml-4" data-icon="akar-icons:arrow-right"></span>
        </a>
      </div>
    </div>
</div>
